development_status_report.zip
docker/testing/*.zip
docker/release/*.zip
docker_releases
build
_build
deps
doc
.git
.elixir_ls
cover
credo
log
assets/node_modules
test_reports/node_modules
test_reports/elixir/*.html
/*.csv
raw_files
/priv/static/assets/*