docker/testing/*.zip
docker/release/*.zip
build
_build
deps
doc
.git
.elixir_ls
cover
credo
log
assets/node_modules
test_reports/node_modules
/*.csv
raw_files
/priv/static/assets/*
feature_reports/node_modules
feature_reports/feature_report.html