language: elixir
elixir:
  - 1.9

otp_release:
  - 21.0

services:
  - postgresql

before_script:
  - mix deps.get
  - cp config/test.travis.exs config/test.exs
  - MIX_ENV=test mix ecto.create
  - MIX_ENV=test mix ecto.migrate

script:
  - mix test

after_script:
  - ./report_build_result