language: elixir
elixir:
  - 1.9
node_js:
  - 12

otp_release:
  - 21.0

services:
  - postgresql

before_install:
  - nvm install 12

before_script:
  - mix deps.get
  - pushd assets && nvm use 12 && yarn install && popd
  - cp config/test.travis.exs config/test.exs
  - MIX_ENV=test mix ecto.create
  - MIX_ENV=test mix ecto.migrate

script:
  - mix test

after_script:
  - ./post_build_results